<!DOCTYPE html>
<!-- views/about.ejs -->

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/our_css.css" type="text/css">

</head>
<body class="container">
  
    <body class="container1">

    <h5 id="title"> hello to you all!! we are a homemade flower company and we want to make you're day!'</h5>
    <p>
        We have flowers from all over the world, gardening tools and whatever else you can dream of!
        So dream on! Shir & Hodaya
    </p>



    </body>
    
    <footer>
        <% include partials/footer %>
    </footer>
</body>
